@import '../variables';

.et-mode-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  color: $white;
  z-index: 10000;

  &__qn {
    margin: 0;

    strong {
      text-transform: capitalize;
    }
  }

  &__exit-full:hover {
    @extend .btn-outline-secondary, :hover;
  }

  &__result-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;

    i {
      margin-left: .7rem;
    }

    &-success,
    &-danger {
      &:hover,
      &.active {
        color: $black;
      }
    }
  }
}
