$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-family-sans-serif: Roboto, "et-icons", "Helvetica Neue", system-ui, -apple-system, "Segoe UI", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$btn-border-radius: 10px;

$light: #ECEFF1;
$danger: #C5050C;
$secondary: #005779;
$primary: #0F65EF;
$info: #0479A8;
$success: #005A5F;
$warning: #BA5701;
$blue:#03269E;
$light-gray: #78909C;
$black: #000000;
$shadow: #263238;
$red: #f26b6c;
$orange: #fcd9d9;
$gray: #e6e6e6;
$white: white;
$tower-gray: #B0BEC5;
$lynch: #607D8B;
$mischka: #DEE1E6;
$sylver: #BABCBE;

$theme-colors: (
  "white": $white,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "lynch": $lynch,
  "sylver": $sylver,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 10.5,
  11: $spacer * 1.25,
  12: $spacer * .625,
  13: $spacer * 2.5,
  14: $spacer * 5.625,
  15: $spacer * 3.75,
  16: $spacer * 8.5,
  17: $spacer * 6.5,
  19: $spacer * 1.125,
  20: $spacer * 2,
);

// Icons
$icomoon-font-family: "et-icons" !default;
$icomoon-font-path: "./fonts" !default;

$et-refresh: "\e900";
$et-plus: "\e901";
$et-home: "\e902";
$et-next: "\e903";
$et-prev: "\e904";
$et-lock-fill: "\e905";
$et-archive: "\e906";
$et-arrow-left: "\e907";
$et-caret-right: "\e908";
$et-check: "\e909";
$et-close: "\e90a";
$et-dots: "\e90b";
$et-forbiden: "\e90c";
$et-forward: "\e90d";
$et-pen: "\e90e";
$et-reply-all: "\e90f";
$et-response: "\e910";
$et-star: "\e911";
$et-trash: "\e912";
$et-tray: "\e913";
$et-user: "\e914";
$et-camera: "\e915";
$et-caret-left: "\e916";
$et-face-happy: "\e917";
$et-image-upload: "\e918";
$et-info-circle: "\e919";
$et-mic: "\e91a";
$et-info-octa: "\e91b";
$et-warning: "\e91c";
$et-caret-down: "\e91d";
$et-lock: "\e91e";
$et-play: "\ea1c";
$et-pause: "\ea1d";
