@import '../../node_modules/react-toastify/scss/main';
@import './variables';
@import './icons';
@import '~bootstrap/scss/bootstrap';
@import '~rc-tooltip/assets/bootstrap.css';
@import './components/ModeWrapper';
@import './components/Email';
@import './components/Letter';
@import './components/Sms';
@import './components/AudioPlayer';
@import './components/Webpage';
@import './components/HomePage';

:root {
  --toastify-color-info: #005779;
}

.btn:focus {
  box-shadow: none;
}

.et-event__btn {
  padding: 0;
  margin: 0;
  line-height: inherit;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $shadow;
  }
}

@include media-breakpoint-up(lg) {
  .rc-tooltip-inner {
    font-size: 1rem;
  }
}

.Toastify__toast-container {
  z-index: 99999;
}

.et-overlay {
  cursor: pointer;
  z-index: 99998;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($black, .6);
}
