@import './variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mtttz1');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mtttz1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?mtttz1') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?mtttz1') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?mtttz1##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="et-"], [class*=" et-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.et-refresh {
  &:before {
    content: $et-refresh; 
  }
}
.et-plus {
  &:before {
    content: $et-plus; 
  }
}
.et-home {
  &:before {
    content: $et-home; 
  }
}
.et-next {
  &:before {
    content: $et-next; 
  }
}
.et-prev {
  &:before {
    content: $et-prev; 
  }
}
.et-lock-fill {
  &:before {
    content: $et-lock-fill; 
  }
}
.et-archive {
  &:before {
    content: $et-archive; 
  }
}
.et-arrow-left {
  &:before {
    content: $et-arrow-left; 
  }
}
.et-caret-right {
  &:before {
    content: $et-caret-right; 
  }
}
.et-check {
  &:before {
    content: $et-check; 
  }
}
.et-close {
  &:before {
    content: $et-close; 
  }
}
.et-dots {
  &:before {
    content: $et-dots; 
  }
}
.et-forbiden {
  &:before {
    content: $et-forbiden; 
  }
}
.et-forward {
  &:before {
    content: $et-forward; 
  }
}
.et-pen {
  &:before {
    content: $et-pen; 
  }
}
.et-reply-all {
  &:before {
    content: $et-reply-all; 
  }
}
.et-response {
  &:before {
    content: $et-response; 
  }
}
.et-star {
  &:before {
    content: $et-star; 
  }
}
.et-trash {
  &:before {
    content: $et-trash; 
  }
}
.et-tray {
  &:before {
    content: $et-tray; 
  }
}
.et-user {
  &:before {
    content: $et-user; 
  }
}
.et-camera {
  &:before {
    content: $et-camera; 
  }
}
.et-caret-left {
  &:before {
    content: $et-caret-left; 
  }
}
.et-face-happy {
  &:before {
    content: $et-face-happy; 
  }
}
.et-image-upload {
  &:before {
    content: $et-image-upload; 
  }
}
.et-info-circle {
  &:before {
    content: $et-info-circle; 
  }
}
.et-mic {
  &:before {
    content: $et-mic; 
  }
}
.et-info-octa {
  &:before {
    content: $et-info-octa; 
  }
}
.et-warning {
  &:before {
    content: $et-warning; 
  }
}
.et-caret-down {
  &:before {
    content: $et-caret-down; 
  }
}
.et-lock {
  &:before {
    content: $et-lock; 
  }
}
.et-play {
  &:before {
    content: $et-play; 
  }
}
.et-pause {
  &:before {
    content: $et-pause; 
  }
}
